<%= link_to 'Home', root_path %>
<h1>Family Members</h1>
<p>This page will include a list of family members (friends) the user has</p>
<p>There will also be options to send a new friend request, accept a friend, or delete a friend</p>