<h3>Common Types of Scams</h3>
<p>Here are some common examples of online scams that you should know how to identify. 
 </p>
<p>If you encounter something similar, or anything that seems suspicious, create a new scam report.</p>
<p>For descriptions of these types of scams, check out <a href="https://heimdalsecurity.com/blog/top-online-scams/" target="_blank">this article</a>.</p>
<ol>
	<li>Phishing email scam</li>
	<li>Nigerian scam</li>
	<li>Greeting card scam</li>
	<li>Bank loan or credit card scam</li>
	<li>Lottery scam</li>
	<li>Hitman scam</li>
	<li>Online dating scam</li>
	<li>Fake antivirus software</li>
	<li>Facebook impersonation scam</li>
	<li>Make money fast scam</li>
	<li>Travel scam</li>
	<li>Bitcoin scam</li>
	<li>Fake news scam</li>
	<li>Fake shopping websites</li>
	<li>Loyalty points phishing scam</li>
	<li>Job offer scam</li>
	<li>SMS text message scam</li>
	<li>Overpayment online scam</li>
	<li>Tech support scam</li>
</ol>