<head>
	<h1>Senior Safeguard Prototype</h1>
</head>

<body>
	<div id = "menu">
		<h3>Menu</h3>
		<ul>
			<li><%= link_to 'About', about_path %></li>
			<li><%= link_to 'New Request', request_path %></li>
			<li><%= link_to 'Family Members', friends_path %></li>
		</ul>
	</div>
</body>

<h2>Open Requests</h2>

<div id ="table">
	<table style="width:50%" border="1">
		<tr>
			<th>Type of Technology</th>
			<th>Description</th>
			<th>Image</th>
		</tr>

		<tr></tr>
		<tr></tr>
		<tr></tr>

		<tr>
			<th>Email</th>
			<th>The email is from "Microsoft", asking for money</th>
			<th>(insert image here)</th>
		</tr>

	</table>
</div>

<h2>Completed Requests</h2>

<div id ="table">
	<table style="width:50%" border="1">
		<tr>
			<th>Type of Technology</th>
			<th>Description</th>
			<th>Image</th>
		</tr>

		<tr></tr>
		<tr></tr>
		<tr></tr>

	</table>
</div>