<%= link_to 'Home', root_path %>
<h1>New Request</h1>
<p>This is the form the senior citizen will fill out when they are suspicious of an online scam</p>

<div id="form">
	<p>1. What type of technology were you using?</p>
	<select>
		<option value="Email">Email</option>
		<option value="Phone Call">Phone Call</option>
		<option value="Computer">Computer</option>
		<option value="Other">Other</option>
	</select>
	<p>2. Describe why it seems suspicious:</p>
	<input type="text">
	<p>3. Upload an image here</p>
</div>